#!/bin/bash

# Function: cyverse_get_hostname()
# Description: Gets the hostname, depending on the distro
cyverse_public_ip() {
   local is_centos5=0
   if [ -e /etc/redhat-release ]; then
      s=$(grep 'CentOS release 5' /etc/redhat-release)
      if [ $? -eq 0 ]; then
         is_centos5=1
      fi
   fi

   if [ -z "$CYVERSE_PUBLIC_IP" ]; then
      if [ $is_centos5 -eq 1 ]; then
         CYVERSE_PUBLIC_IP=$(curl -s 'http://169.254.169.254/openstack/latest/meta_data.json' | python -c'from simplejson.tool import main; main()' 2>/dev/null | sed -n -e '/"public-ip":/ s/^.*"\(.*\)".*/\1/p')
      else
         CYVERSE_PUBLIC_IP=$(curl -s 'http://169.254.169.254/openstack/latest/meta_data.json' | python -mjson.tool 2>/dev/null | sed -n -e '/"public-ip":/ s/^.*"\(.*\)".*/\1/p')
      fi
   fi

   # attempt external ip resolution through dyndns
   if [ -z "$CYVERSE_PUBLIC_IP" ]; then
      CYVERSE_PUBLIC_IP=$(curl -s 'http://checkip.dyndns.org' | sed 's/.*Current IP Address: \([0-9\.]*\).*/\1/g')
   fi

   # attempt external ip resolution through ipify
   if [ -z "$CYVERSE_PUBLIC_IP" ]; then
      CYVERSE_PUBLIC_IP=$(curl -s https://api.ipify.org)
   fi

   export JETSTREAM_PUBLIC_IP=$CYVERSE_PUBLIC_IP
   export CYVERSE_PUBLIC_IP
}


unban_help() {
	echo
	echo "usage: unban [-a] [-d ip-address] [-i ip-address] [-l] [-L] [-w ip-address]"
	echo
	echo "-a	unban all ip addresses"
	echo "-d	delete a whitelisted ip addresses"
	echo "-i	unban a single ip address"
	echo "-l	print all currently banned ips"
	echo "-L	print all currently whitelisted ips"
	echo "-w	whitelist and unban a single ip addresses"
	echo
	echo "Note: use only one option at a time"
	echo
}

bannedlist() {
	jaillist
	local first_jail=${jails[0]}
	local ipstring=`sudo fail2ban-client status ${first_jail}|grep 'Banned IP list'|awk 'BEGIN{FS=":"}{print $2}'`
	ips=($ipstring)
} 

jaillist() {
	jails=(`sudo fail2ban-client status|grep 'Jail list'|awk 'BEGIN {FS=":"}{print $2}'|tr -d ','`)
}

whitelistlist () {
	jails=(`sudo fail2ban-client status|grep 'Jail list'|awk 'BEGIN {FS=":"}{print $2}'|tr -d ','`)
	local first_jail=${jails[0]}
	local out=`sudo fail2ban-client get ${first_jail} ignoreip`
	echo "$out"
}

# $1 = jail name
# $2 = ip to add
add_whitelist_to_jail() {
	local jail=$1
	local ip=$2
	sudo fail2ban-client set $jail addignoreip $ip > /dev/null
}

# $1 = jail name
# $2 = ip to remove
remove_whitelist_to_jail() {
	local jail=$1
	local ip=$2
	sudo fail2ban-client set $jail delignoreip $ip > /dev/null
}

# $1 = jail name
# $2 = ip to remove
remove_from_jail() {
	local jail=$1
	local ip=$2
	sudo fail2ban-client set $jail unbanip $ip
}

unban() {
	if [ $# -lt 1 ]; then
		unban_help
	else
		local OPTIND opt                
		while getopts "lLi:aw:d:" opt; do
			case $opt in
			l)
				bannedlist
				echo "The following ips are banned"
				echo
				for i in "${ips[@]}"; do
					echo -e "\t$i"
				done
				echo
				;;
			L)
				whitelistlist
				;;
			i)
				local ip=$OPTARG
				if [[ $ip =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
					jaillist
					echo
					for i in "${jails[@]}"; do
						remove_from_jail $i $ip
					done
					echo
					echo "If no error was reported, then the ip was probably unbanned"
				else
					echo "?invalid ip address: $ip"
				fi
				;;
			a)
				bannedlist
				echo
				jaillist
				for i in "${ips[@]}"; do
					echo "unbanning ip $i"
					for j in "${jails[@]}"; do
						remove_from_jail $j $i
					done
				done
				echo
				;;
			w)
				local ip=$OPTARG
				if [[ $ip =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
					jaillist
					for i in "${jails[@]}"; do
						add_whitelist_to_jail $i $ip
					done
					echo "If no error was reported, then the ip was whitelisted"
				else
					echo "?invalid ip address: $ip"
				fi
				;;
			d)
				local ip=$OPTARG
				if [[ $ip =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
					jaillist
					for i in "${jails[@]}"; do
						remove_whitelist_to_jail $i $ip
					done
					echo "If no error was reported, then the ip removed from the whitelist"
				else
					echo "?invalid ip address: $ip"
				fi
				;;
			\?)
				echo "invalid flag -$OPTARG"
				unban_help
				;;
			esac
		done
	fi
}

alias myip='cyverse_public_ip;echo $CYVERSE_PUBLIC_IP'
