#!/bin/bash  -x

ezd () {
		echo
                echo "* Updating ez docker (may take a few minutes)"
                ansible-pull -v -U https://github.com/cyverse/cyverse-ez-docker.git -d /opt/cyverse-ez-docker -i locahost -f > /var/log/cyverse-ez.log 2>&1
		if [ $? == 0 ]; then
			echo "* ez docker was updated successfully"
		else
			echo "* ez docker may not have updated successfully, but you can probably try executing it"
		fi

		echo
		echo "To test docker, type: docker run hello-world"
		echo

}
