#!/bin/bash  -x

ezd () {
		echo
                echo "* Updating ez docker and installing docker (this may take a few minutes, coffee break!)"
                sudo ansible-pull -v -U https://github.com/cyverse/cyverse-ez-docker.git -d /opt/cyverse-ez-docker -i locahost -e ansible_docker_user=${USER} -f > {{ ez_local_log }} 2>&1
		if [ $? == 0 ]; then
			echo "* docker was updated successfully"
			echo
			echo "You shouldn't need to use ezd again on this system, unless you want to update docker itself"
		else
			echo "* ez docker or docker itself may not have updated successfully, but you can probably try executing it"
		fi

		echo
		echo "To test docker, type: docker run hello-world"
		echo

}
