#!/bin/bash

# you may need to define this in other profile scripts
CYVERSE_INSTALL_ROOT={{EZ_INSTALL_DIR|default("/opt")}}

print_help() {
		echo "
Here are the different ez commands:

ez   -> this help menu
ezj  -> run jupyter-notebook with python detection
ezjh -> run jupyterhub with cyverse cas integration
ezd  -> install docker (Only supported on Ubuntu 14+ and CentOS 7)
ezs  -> install singularity (Only supported on Ubuntu 14+ and CentOS 6+)

Options to pass to 'ez':

	update -> perform a full update of the ez facility
	betainstall   -> test the beta version of ez

	Example of options:

	ez update
	ez betainstall

Options to pass to 'ezj':
-q      do not attempt to install, just launch jupyter!
-R      install the R kernel (-r also works)
-2      force python 2 kernel (not compatible with -3 option)
-3      force python 3 kernel (not compatible with -2 option)
-u      force update of anaconda (default is no update)
-p      takes a directory as an option; install in a different location other than default ($CYVERSE_INSTALL_ROOT)
        NOTE: if you set this, you must pass it again for future calls

	Example of options:

        ezj -u -R
        ezj -p /opt -u

Options to pass to 'ezjh':

	none

Options to pass to 'ezd':

-p	enable portainer on port 9000
-d      change data root directory (default: /var/lib/docker)

        Example of options:
        
        ezd -d /scratch
        ezd -p -d /scratch

Options to pass to 'ezs':

	none

"
}

ez () {

	if [ $# -ne 1 ]; then
		print_help
	elif [ "$1" = "update" ]; then
		echo "updating ez cli"
		sudo rm -rf /etc/cyverse-ez /opt/cyverse-ez /etc/ansible/roles/ez /root/.ansible
		sudo git clone https://github.com/cyverse/cyverse-ez.git /opt/cyverse-ez >> {{ ez_local_log }}
		sudo ansible-pull -v -U https://github.com/cyverse/cyverse-ez.git -d /opt/cyverse-ez -i localhost -e ez_force_update=yes -e EZ_INSTALL_DIR={{EZ_INSTALL_DIR|default("/opt")}} -f >> {{ ez_local_log }} 2>&1
		if [ $? -eq 0 ]; then
			echo "success in updating!"
			for i in /etc/profile.d/cyverse*; do
				source $i
			done
		else
			echo "Warning: there may have been an issue updating, but you can probably still use ez cli"
		fi
	elif [ "$1" = "betainstall" ]; then
		sudo apt-get -y install python-pip
		sudo pip install -U pip
		sudo pip uninstall -y cyverse-ez
		if [ ! -d /opt/cyverse/tmp ]; then
			sudo mkdir -p /opt/cyverse/tmp
			sudo chmod a+rwx /opt/cyverse/tmp
		fi

		# update the python cyverse ez 
		if [ -d /opt/cyverse/tmp/python-cyverse-ez ]; then
			curdir=$PWD
			cd /opt/cyverse/tmp/python-cyverse-ez
			git pull
			cd $curdir
		else
			git clone https://github.com/edwins/python-cyverse-ez.git /opt/cyverse/tmp/python-cyverse-ez
		fi
		sudo pip install --force-reinstall /opt/cyverse/tmp/python-cyverse-ez

		# update the python cyverse ez modules
		if [ -d /opt/cyverse/tmp/python-cyverse-ez-modules ]; then
			curdir=$PWD
			cd /opt/cyverse/tmp/python-cyverse-ez-modules
			git pull
			cd $curdir
		else
			git clone https://github.com/edwins/python-cyverse-ez-modules.git /opt/cyverse/tmp/python-cyverse-ez-modules
		fi
	else
		print_help
	fi
}
