#!/bin/bash  -x

ezs () {
		local OPTIND opt                

		singularity_version="''"
		while getopts "r:" opt; do
		case $opt in
		r)
			singularity_version=$OPTARG
			echo "DEBUG: set version to $singularity_version"
			;;
		\?)
			echo "invalid flag -$OPTARG"
			exit
			;;
		esac
		done

		echo
                echo "* Updating ez singularity and installing singularity (this may take a few minutes, coffee break!)"
		sudo rm -rf /opt/cyverse-ez-singularity
                sudo git clone https://github.com/cyverse/cyverse-ez-singularity.git /opt/cyverse-ez-singularity/ >> {{ ez_local_log }}

		sudo ansible-pull -v -U https://github.com/cyverse/cyverse-ez-singularity.git -d /opt/cyverse-ez-singularity -i localhost -e "{'singularity_version':'${singularity_version}'}" -f >> /var/log/cyverse-ez.log 2>&1
		if [ $? == 0 ]; then
			echo "* singularity was updated successfully"
			echo
			echo "You shouldn't need to use ezs again on this system, unless you want to update singularity itself"
		else
			echo "* ez singularity or singularity itself may not have updated successfully, but you can probably try executing it"
		fi

		echo
		echo "To test singularity, type: singularity run shub://vsoch/hello-world"
		echo "Hint: it should output \"RaawwWWWWWRRRR!!\")"
		echo

}
